<div *ngIf="loaded">
  <button (click)="location.back()">Return back</button>
  <h3>Details of Album №{{album.id}}</h3>
  <div>
    <div>
      <h5>Title: {{album.title}}<span><button (click)="edit()" >Edit</button></span></h5>
    </div>

    <div *ngIf="album.editing">
      <input type="text" [(ngModel)]="updatedTitle"/>
      <button (click)="save()" >Save</button>
    </div>
  </div>
  <p>Click to watch the <a routerLink="/albums/{{album.id}}/photos">photos</a> of the album!</p>
</div>
<h2 *ngIf="!loaded">Album details are loading!</h2>
