h3 {
  text-align: center;
  padding: 10px ;
  text-decoration: underline 2px;
  font-size: 22px;
}

h5, p, a {
  font-size: 20px;
}

button {
  padding: 7px;
  margin-left: 10px;
}
input[type='text'] {
  font-size: 18px;
  padding: 4px;
}
