<div *ngIf="loaded">
  <button (click)="location.back()">Return back</button>
  <h3>Details of Album №{{album.id}}</h3>
  <div>
<!--    <div *ngIf="!editing">-->
      <h5>Title: {{album.title}}</h5>
<!--    </div>-->
<!--    <form *ngIf="editing">-->
<!--      <input [(ngModel)]="album.title"/>-->
<!--    </form>-->
<!--    <button (click)="edit(album)" >Edit</button>-->
<!--    <button (click)="save(album)" >Save</button>-->
  </div>
  <p>Click to watch the <a routerLink="/albums/{{album.id}}/photos">photos</a> of the album!</p>
</div>
<h2 *ngIf="!loaded">Album details are loading!</h2>
